.contacts {
    &_subtitle {
        text-align: center;
    }
    &_form {
        width: 50%;
        margin: 0 auto;
        text-align: center;
        @media screen and (max-width: $desktopWidth) {
            width: 100%;
        }
    }
    &_input_wrapper {
        width: 70%;
        padding: 30px;
        margin: 15px auto;
        background: url(/assets/img/form_line.png) 50% 50% / 100% auto no-repeat;
        font-family: $textFontRegular;
        @media screen and (max-width: $desktopWidth) {
            width: 50%;
            padding: 35px 25px;
        }
        @media screen and (max-width: $phoneWidth) {
            width: 100%;
            padding: 35px 15px;
        }
    }
    &_input {
        width: 100%;
        height: 100%;
        font-size: rem(24);
        color: $main-color;
        font-family: $textFontRegular;
        background: none;
        cursor: pointer;
        &::placeholder {
            color: $neutral-primary;
        }
    }
    &_textarea_wrapper {
        width: 100%;
        height: 500px;
        padding: 40px 55px;
        margin: 15px auto;
        background: url(/assets/img/textarea_bg.png) 0 0 / 100% 100% no-repeat;
        @media screen and (max-width: $desktopWidth) {
            width: 100%;
            padding: 40px;
        }
        @media screen and (max-width: $phoneWidth) {
            width: 100%;
            height: auto;
            padding: 30px;
        }
    }
    &_textarea {
        width: 100%;
        height: 100%;
        background: none;
        border: none;
        resize: none;
        font-family: $textFontRegular;
        font-size: rem(24);
        cursor: pointer;
        &::placeholder {
            color: $neutral-primary;
        }
    }
    &_btn {
        display: inline-flex;
        padding: 15px;
        font-size: rem(18);
        background: transparent url(/assets/img/form_line.png) 50% 50% / 100% 100% no-repeat;
        font-family: $textFontRegular;
    }
}

    // @media screen and (max-width: $desktopWidth) {
    //     padding: 36px;
    // }
    // @media screen and (max-width: $tabletWidth) {
    //     padding: 28px;
    // }
    // @media screen and (max-width: $phoneWidth) {
    //     padding: 20px;
    // }
