// header style

.header {
    display: flex;
    height: 100vh;
    padding-bottom: 40px;
    @include for-desktop {
        padding: 20px 20px 40px;
    }
    @include for-phone {
        min-height: 100vh;
        height: auto;
    }
    &_wrap_title {
        width: 50%;
        margin-top: 70px;
        text-align: center;
        @include for-desktop {
            width: 100%;
        }
    }
    &_title {
        font-family: $titleFont;
        letter-spacing: 5px;
        font-size: rem(70);
        @include for-tablet {
            font-size: rem(50);
        }
    }
    &_subtitle {
        font-family: $titleFont;
    }
    &_introduction {
        margin-top: 10px;
        font-family: $textFontRegular;
        font-size: rem(20);
    }
    .scroll {
        margin-top: auto;
        @include for-phone {
            display: none;
        }
    }
    &_decor-line {
        max-width: 100%;
    }
}
