// header style

.header {
    display: flex;
    height: 100vh;
    padding-bottom: 40px;
    @include for-desktop {
        padding: 20px 20px 40px;
    }
    @include for-phone {
        min-height: 100vh;
        height: auto;
    }
    @include for-tablet-retina {
        height: auto;
    }
    &_wrap_title {
        width: 50%;
        margin-top: 70px;
        text-align: center;
        @include for-desktop {
            width: 100%;
        }
    }
    &_title {
        font-family: $titleFont;
        letter-spacing: 5px;
        font-size: rem(70);
        @include for-tablet {
            font-size: rem(50);
        }
        @include for-tablet-retina {
            font-size: rem(100);
        }
    }
    &_subtitle {
        font-family: $titleFont;
        @include for-tablet-retina {
            font-size: rem(54);
        }
    }
    &_text {
        margin-top: 10px;
        font-weight: 700;
        font-family: $textFontRegular;
        font-size: rem(24);
        @include for-tablet-retina {
            font-size: rem(42);
        }
        @include for-phone-retina {
            font-size: rem(32);
        }
    }
    .scroll {
        margin-top: auto;
        @include for-phone {
            display: none;
        }
        @include for-tablet-retina {
            display: none;
        }
    }
    &_decor-line {
        max-width: 100%;
    }
}

.scroll_arrow_animation {
    animation: pendulum 1s linear infinite alternate;
}

@keyframes pendulum {
    100% {
        transform: translateY(-50px);
    }
}
