.nav {
    display: flex;
    width: 100%;
    flex-basis: 20%;
    align-items: center;
    padding: 15px 15px 20px;
    background-image: url(/assets/img/nav_bg.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    @media screen and (max-width: $tabletWidth) {
        flex-basis: auto;
        padding-top: 20px;
    }
    &_list {
        display: flex;
        flex-basis: 100%;
        justify-content: space-around;
        align-items: center;
    }
    &_link {
        text-transform: uppercase;
        font-family: $titleFont;
        font-weight: 700;
        font-size: rem(26);
        color: $mainFontColor;
        @media screen and (max-width: $tabletWidth) {
            font-size: rem(22);
        }
    }
}
