.nav {
    display: flex;
    width: 100%;
    flex-basis: 20%;
    align-items: center;
    padding: 25px 15px 30px;
    background: url(/assets/img/nav_bg.png) 50% 50% / 100% auto no-repeat;
    @include for-tablet {
        display: none;
    }
    &_list {
        display: flex;
        flex-basis: 100%;
        justify-content: space-around;
        align-items: center;
    }
    &_link {
        display: inline-block;
        text-transform: uppercase;
        font-family: $titleFont;
        font-weight: 700;
        font-size: rem(26);
        color: $main-color;
        @include for-tablet {
            font-size: rem(24);
        }
        @include for-phone {
            font-size: rem(30);
        }
    }
}

.nav_mobile {
    font-family: $titleFont;
    font-size: rem(38);
    & .mm-navbar__title {
        font-size: rem(48);
    }
    &_item {
        text-align: center;
        cursor: pointer;
        & .decor_line {
            max-width: 100%;
        }
    }
    &_link {
        --mm-line-height: 1.5;
        display: block;
        padding: 0;
        font-weight: 700;
        line-height: var(--mm-line-height);
    }
}

.mobile_menu {
    display: none;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
    z-index: 1000000;
    @include for-tablet {
        display: block;
    }
}

.mobile_burger {
    color: $hamburger-color;
}
