.portfolio {
    &_slider-wrapper {
        width: 100%;
        flex-basis: 100%;
        padding: 28px 25px 22px;
        // position: relative;
        background: url(/assets/img/slider_bg2.png) 50% 0 / 100% 100% no-repeat;
        z-index: 500;
    }
    &_slider {
        width: 100%;
        flex-basis: 100%;
        position: relative;
        z-index: 10;
        & img {
            display: block;
            max-width: 100%;
            height: auto;
            max-height: 100%;
            position: relative;
            left: 50%;
            transform: translate(-50%, 0);
            z-index: 1000000;
        }
    }
}
